body {
    display: grid;
    justify-content: center;
    align-items: center;
}

li::marker {
    display: inline-block;
    vertical-align: middle;
    list-style-position: inside;
}
ul {
    list-style: none;
    padding-left: 0;
}
