.input-field {
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;

    position: absolute;
    color: #fff2;
    background-color: transparent;
    border: transparent;
    caret-color: white;
    outline: none;

    left: 0;
    right: 0;

    padding: 0;
}

.remaining-text {
    color: #ffffff5b;
}

.hlTypedText-line{
    color: #afb4b3;
}

.correctLetter {
    color: #206600;
}

.incorrectLetter {
    color: white;
    background-color: darkred;
}

pre {
    margin: 0px;
}
