body{
    background-color: #161616;
    color: grey;

    font-family: 'Source Code Pro', monospace;
}

.correctLetter {
    color: #206600;
}

.incorrectLetter {
    color: white;
    background-color: darkred;
}
