body,
html {
    width: 100%;
    height: 100%;
    margin: 0;

    color: #fffa;
}
* {
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
}


#text-editor-container {
    background-color: var(--bgColor);
    display: grid;

    grid-template-areas:
        'top top'
        'mid-l mid-r'
        'bottom bottom';

    grid-template-columns: auto 1fr;
    grid-template-rows: auto, 3;
}

#side-bar {
    width: 25px;

    grid-area: mid-l;
}

.side-bar-number {
    display: block;
    text-align: right;
}
.side-bar-symbol {
    color: #ffffff81;
    display: block;
    text-align: right;
    left: -10px;
    position: relative;
}

.typeracer-container {
    grid-area: mid-r;

    padding-left: 10px;
}

.input-field-container {
    position: relative;
    right: 0;
    left: 0;
}



#top-bar {
    top: 0;

    background-color: #0909083b;
    height: 23px;
    width: 100%;
    margin-bottom: 2px;

    grid-area: top;
}

#file-name-t {
    background-color: var(--bgColor);
    width: 120px;

    padding-left: 15px;
    padding-right: 20px;

    text-align: center;
    display: inline-block;
}

#bottom-bar {

    background-color: #0909083b;
    height: 29.5px;
    width: 100%;

    font-size: 13px;

    grid-area: bottom;
}

#cmd-input{
    width: 500px;

    color: white;
    background-color: transparent;
    border: transparent;
}

#cmd-container{
    color: white;
}

#editor-mode {
    background-color: var(--secColor);
    color: #1f2805;
    font-weight: bold;

    padding: 3px;
    width: 80px;
    margin: 0px;

    position: relative;
    text-align: center;

    display: inline-block;
}



#file-name-b {
    background-color: transparent;
    color: var(--secColor);
    width: 120px;
    margin: 0px;

    position: relative;
    text-align: left;

    display: inline-block;
}


#left-block-container{
    color: #1f2805;
    float: left;
}

#right-block-container {
    padding-top: 3px;
    float: right;
}

#unix {
    color: var(--secColor);
    font-weight: bold;
    width: 60px;
    
    padding: 3px;
    padding-right: 5px;
}

#procent-completed{
    padding: 3px;
    color: var(--bgColor);
    background-color: var(--secColor);
}

#cpm{
    padding: 3px;
    color: var(--bgColor);
    background-color: var(--secColor);
}

#breaksign{
    padding: 3px;
    color: var(--bgColor);
    background-color: var(--secColor);
}

#tkpm{
    padding: 3px;
    padding-right: 5px;;
    color: var(--bgColor);
    background-color: var(--secColor);
}

#procent-completed {
    padding-left: 5px;
    padding-right: 0px;
}

/*TODO: lägg till colla saker som t.ex wpm lpm i baren längst ner*/
