body,
html {
    width: 100%;
    height: 100%;
    margin: 0;

    color: #fffa;
}
* {
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    box-sizing: border-box;
}

#text-editor-container {
    background-color: var(--bgColor);
}

.side-bar {
    width: 25px;
    grid-area: 'sidebar';
}

.side-bar-number {
    display: block;
    text-align: right;
}
.side-bar-symbol {
    color: #ffffff81;
    display: block;
    text-align: right;
    left: -10px;
    position: relative;
}

#middle-part {
    display: flex;
}

#left-side {
    grid-area: mid-l;
    display: grid;
    grid-template-areas: 'sidebar main-area';
    grid-template-columns: 1fr 99fr;
    width: 100%;
    flex-grow: 1;
}
#right-side {
    display: none;
    grid-area: mid-r;
    grid-template-areas: 'sidebar main-area';
    grid-template-columns: 1fr 99fr;
    width: 100%;
    flex-grow: 1;
}
#help-sidebar {
    grid-area: sidebar;
}
#help-page {
    grid-area: main-area;
    padding-right: 15px;
    padding-left: 10px;
    width: 100%;
    justify-self: start;
}

#landing-page {
    grid-area: main-area;
    display: grid;
    background-color: transparent;
    text-align: center;
    align-content: center;
    width: 100%;
}
#title {
    padding-bottom: 10px;
}

#info {
    padding-bottom: 20px;
}

#commands {
    padding-bottom: 20px;
}

.command:hover {
    text-decoration: underline;
    cursor: pointer;
}

.typeracer-container {
    position: relative;
    padding-left: 10px;
    display: none;
    justify-self: left;
}

.input-field-container {
    position: relative;
    right: 0;
    left: 0;
}

#top-bar {
    top: 0;
    grid-area: top;

    background-color: #0909083b;
    height: 23px;
    width: 100%;
    margin-bottom: 2px;

    display: grid;
    grid-template-areas: 'left right';
}

#file-name-t {
    background-color: var(--bgColor);
    width: 120px;

    padding-left: 15px;
    padding-right: 140px;

    text-align: center;
    display: inline-block;

    grid-area: left;
}
#help-file-name {
    background-color: var(--bgColor);
    width: 120px;

    grid-area: right;
    text-align: center;
    display: none;
}

#bottom-bar {
    background-color: #0909083b;
    height: 30px;
    width: 100%;

    display: flex;
    align-items: center;
    font-size: 13px;

    grid-area: bottom;
}

#cmd-input {
    color: white;
    background-color: transparent;
    border: transparent;
    outline: none;
}

#cmd-container {
    color: white;
}

#editor-mode {
    background-color: var(--secColor);
    color: #1f2805;
    font-weight: bold;

    padding: 3px;
    width: 80px;
    margin: 0px;

    position: relative;
    text-align: center;

    display: inline-block;
}

#file-name-b {
    background-color: transparent;
    color: var(--secColor);
    width: 120px;
    margin: 0px;

    position: relative;
    text-align: left;

    display: inline-block;
}

#space-inbetween {
    flex-grow: 1;
}

#left-block-container {
    color: #1f2805;
}

#right-block-container {
    background-color: var(--secColor);
    padding: 3px;
}

#username {
    color: var(--secColor);
    padding-right: 5px;
}

img[src=''] {
    display: none;
}

img {
    display: block;
}

#procent-completed,
#cpm,
#breaksign,
#tkpm {
    height: 100%;
    display: inline-block;
    color: var(--bgColor);
}

#tkpm {
    padding-left: 5px;
    padding-right: 5px;
}

#procent-completed {
    padding-left: 5px;
    padding-right: 0px;
}

#close-button {
    display: none;
    grid-area: right;
    justify-self: end;
    padding-right: 15px;
}

/*TODO: lägg till colla saker som t.ex wpm lpm i baren längst ner*/
