body,
html {
    width: 100%;
    height: 100%;
    margin: 0;

    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
}

#text-editor-container {
    background-color: #23241f;

    width: 100%;
    height: 100%;
    position: relative;
}

#side-bar {
    padding-top: 23px;
    width: 25px;
}

.side-bar-number {
    color: white;
    display: block;
    text-align: right;
}
.side-bar-symbol {
    color: white;
    display: block;
    text-align: right;
    left: -10px;
    position: relative;
}

#top-bar {
    position: absolute;
    top: 0;

    background-color: #2c2d29;
    height: 23px;
    width: 100%;

    overflow: hidden;
}

#bottom-bar {
    position: absolute;
    bottom: 10px;

    background-color: #2c2d29;
    height: 22px;
    width: 100%;

    font-size: 13px;

    overflow: hidden;
}

#editor-mode {
    background-color: #708f11;
    color: #1f2805;
    font-weight: bold;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    width: 80px;
    margin: 0px;

    position: relative;
    text-align: center;

    display: inline-block;
}

#file-name-t {
    background-color: #23241f;
    color: white;
    height: 100%;
    width: 120px;
    padding: 5px;

    position: relative;
    text-align: center;
    font-size: 12px;

    display: inline-block;
    left: -5px;
}

#file-name-b {
    background-color: transparent;
    color: #708f11;
    width: 120px;
    margin: 0px;

    position: relative;
    text-align: left;

    display: inline-block;
}

#unix {
    background-color: rgba(168, 161, 161, 0.093);
    color: #708f11;
    font-weight: bold;
    width: 60px;
    padding: 2.5px;

    position: relative;
    float: right;
    text-align: center;

}

#right-block-container{
    background-color: #708f11;
    color: #1f2805;

    float: right;
    padding: 2.5px;
    padding-right: 5px;
}

#procent-completed{
    padding-left: 5px;
    padding-right: 0px; 
}


/*TODO: lägg till colla saker som t.ex wpm lpm i baren längst ner*/
